__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

.pytest_cache/
.coverage
htmlcov/

.idea/
.vscode/
*.swp

.env
.env.*

*.pkl
*.joblib

mlruns/
mlflow.db
.trash/

.DS_Store
Thumbs.db
Desktop.ini